server:
  port: 8082

spring:
  application:
    name: sql-service

  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: 5672
    username: user
    password: password

  sql:
    init:
      mode: always

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/events_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver